<footer class="footer">
  <small>
    The SMS sender mockup application
    by <a href="http://www.michaelhartl.com/">Nikolas Serafini</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://dev.to/">News</a></li>
    </ul>
  </nav>
</footer>
