<footer class="footer">
  <small>
    The SMS sender mockup application
    by <a href="http://www.twitter.com/notNikolas">Nikolas Serafini</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre",   about_path %></li>
      <li><%= link_to "Contato", contact_path %></li>
      <li><a href="https://dev.to/">Notícias</a></li>
    </ul>
  </nav>
</footer>
