<% provide(:title, 'Doadores aptos') %>
<h1>Doadores aptos para nova doação</h1>

<ul class="donators">
  <% @donators.each do |donator| %>
    <li>
      <%= link_to donator.name, donator %>
    </li>
  <% end %>
</ul>
