<% provide(:title, 'Doadores sangue Tipo A') %>
<h1>Doadores de sangue tipo A</h1>

<ul class="donators">
  <% @donators.each do |donator| %>
    <li>
      <%= link_to donator.name, donator %>
    </li>
  <% end %>
</ul>
<br><br>
