<% provide(:title, 'Doadores') %>
<h1>Todos os doadores</h1>

<ul class="donators">
  <% @donators.each do |donator| %>
    <li>
      <%= link_to donator.name, donator %>
    </li>
  <% end %>
</ul>

<%= button_to "Enviar SMS para doad aores selecionados!", sendonator_path, :method => :get %>
