<% provide(:title, 'Envio de SMS em lote') %>
<h1>Envio de SMS para doadores</h1>

<br><br>
<h2><b>Destinatários da mensagem:</b></h2>
<ul class="donators">
  <% @donators.each do |donator| %>
    <li>
      <%= donator.name %>, <%= donator.phone %>
    </li>
  <% end %>
</ul>

<br><br>
<h2><b>Mensagem a ser enviada:</b></h2>
<%= collection_select(:sms_model, :sms_model_id, SmsModel.all, :name, :content) %>
<br><br><br><br>
<%= button_to "Enviar SMS!", '/sendapt',:method => :get %>
